{% extends 'base/index.html' %}
{% load url from future %}
{% block content %}
	<div id="normalcontent">
		<div class="contentarea">
			</h2>Logg inn</h2>
  		<form action="/accounts/login/" method="POST">
				{% csrf_token %}
    		<input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}/{% endif %}" />
        	<input type="text" name="username" placeholder="Brukernavn" />
        	<input type="password" name="password" placeholder="Passord" />
        	<input type="submit" class="submit" value="Log in" />
  		</form>
		</div>
	</div>
{% endblock %}
